<div class="car_items">
  <div>
    <img src="https://dummyimage.com/300x200/000/ddd" />
    <p>Books</p>
  </div>
  <div>
    <img src="https://dummyimage.com/300x200/000/ddd" />
    <p>Pens</p>
  </div>
  <div>
    <img src="https://dummyimage.com/300x200/000/ddd" />
    <p>Notes</p>
  </div>
  <div>
    <img src="https://dummyimage.com/300x200/000/ddd" />
    <p>Item name</p>
  </div>
  <div>
    <img src="https://dummyimage.com/300x200/000/ddd" />
    <p>Item name</p>
  </div>
  <div>
    <img src="https://dummyimage.com/300x200/000/ddd" />
    <p>Item name</p>
  </div>
  <div>
    <img src="https://dummyimage.com/300x200/000/ddd" />
    <p>Item name</p>
  </div>
  <div>
    <img src="https://dummyimage.com/300x200/000/ddd" />
    <p>Item name</p>
  </div>
</div>