	<footer class="page-footer bg_blue">
			<div class="arrow_holder"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col l3 s12 border_right">
						<a href="#" class="brand-logo ml0"><img src="./assets/img/logo.png"></a>
						<p class="grey-text text-lighten-4">continue development on this project and is greatly appreciated.</p>
					</div>
					<div class="col l3 s12 border_right center-align">
						<h2 class="white-text foo_head">Contact Us</h2>
						<ul>
							<li><a class="white-text" href="#!">Link 1</a></li>
							<li><a class="white-text" href="#!">Link 2</a></li>
							<li><a class="white-text" href="#!">Link 3</a></li>
							<li><a class="white-text" href="#!">Link 4</a></li>
						</ul>
					</div>
					<div class="col l3 s12 border_right center-align">
						<a class="waves-effect waves-light btn-floating social google">
						<i class="fa fa-google"></i> Sign in with Google</a>
						<a class="waves-effect waves-light btn-floating social facebook">
						<i class="fa fa-facebook"></i> Sign in with facebook</a>
						<a class="waves-effect waves-light btn-floating social twitter">
						<i class="fa fa-twitter"></i> Sign in with twitter</a>
					</div>
					<div class="col l3 s12 center-align">
						<h2 class="white-text foo_head">Quick Links</h2>
						<ul>
							<li><a class="white-text" href="#!">Link 1</a></li>
							<li><a class="white-text" href="#!">Link 2</a></li>
							<li><a class="white-text" href="#!">Link 3</a></li>
							<li><a class="white-text" href="#!">Link 4</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright light-blue darken-4">
				<div class="container">
					<a class="orange-text text-lighten-3" href="http://jesark.in">
					© Copyright 2018 | One To Ten All Rights Reserved</a>
				</div>
			</div>
		</footer>