<div class="row">
  <h4 class="head_item">Offer Zone</h4>
  <div class="col l3 s3 m3">
      <div class="card">
      <div class="card-image custom_img">
      <img src="https://dummyimage.com/300x150/ddd/ddd" />
      <span class="card-title">{{item.name}}</span>
      </div>
      <div class="card-content">
      <p>{{item.items}}</p>
      <p>{{item.price}}</p>
      </div>
     
      </div>
  </div>
  <div class="col l3 s3 m3">
      <div class="card">
      <div class="card-image custom_img">
      <img src="https://dummyimage.com/300x150/ddd/ddd" />
      <span class="card-title">{{item.name}}</span>
      </div>
      <div class="card-content">
      <p>{{item.items}}</p>
      <p>{{item.price}}</p>
      </div>
     
      </div>
  </div>
</div>
