<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m4">
        <div class="card blue white-text">
          <div class="card-content valign-wrapper">
            <div class="card-text">
              <h6>25%</h6>
              <p>Server load</p>
            </div>
            <div class="card-icon"><i class="material-icons medium valign">pie_chart</i></div>
          </div>
          <div class="card-action"><a href="#">View report</a></div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue white-text">
          <div class="card-content valign-wrapper">
            <div class="card-text">
              <h6>156</h6>
              <p>Users online</p>
            </div>
            <div class="card-icon"><i class="material-icons medium valign">check_circle</i></div>
          </div>
          <div class="card-action"><a href="#">View report</a></div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue white-text">
          <div class="card-content valign-wrapper">
            <div class="card-text">
              <h6>50</h6>
              <p>Broken links</p>
            </div>
            <div class="card-icon"><i class="material-icons medium valign">build</i></div>
          </div>
          <div class="card-action"><a href="#">View report</a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8">
        <div class="card">
          <table class="bordered highlight">
            <thead>
              <tr>
                <th colspan="2">TODO List</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Upgrade to SSD harddisks</td>
              </tr>
              <tr>
                <td>Pay server invoice</td>
              </tr>
              <tr>
                <td>Upgrade to SSD harddisks</td>
              </tr>
              <tr>
                <td>Pay server invoice</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>